<div class="demo-content1">
<br><br>
<table>
<tr><td><h4> <%= link_to "User Registration",users_user_index_path(@user),:class=>"btn btn-success"%></h4></td></tr></table>
</tr>
</table>
<br><br><br><br>
<table align="center" style="border:1px solid white;box-shadow:1px 3px 7px  #000000;">
<%= form_for([Admin.new], validate: true, :url=>{:controller=>"users", :action => "admin_create", :remote => true}) do |i|%>
<tr>
<td>
<table>
<tr><td><%= link_to "Party Order", users_party_order_index_path(@party_order),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Machine Used",users_mach_use_index_path(@machine_used),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Type of Chemical",users_chemical_type_index_path(@chemical_type),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Colour Issues (Chemical)",users_chemical_index_path(@chemical),:class=>"btn btn-success" %></tr></td>
</table>
</td>
<td>
<div class="pad">
<table>
<tr><td><%= link_to "Finished Goods Name",users_goods_index_path(@finished_goods_name),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Raw Material",users_raw_material_index_path(@raw_material),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Party Purchase",users_party_purchase_index_path(@party_purchase),:class=>"btn btn-success" %></tr></td>
</table>
</div>
</td>
<td>
<table>
<tr><td><%= link_to "Nature of Work",users_nature_index_path(@nature_of_work),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Mould No",users_mould_index_path(@mould_no),:class=>"btn btn-success" %></tr></td>
<tr><td><br><br><%= link_to "Reason For Idle Time",users_reason_for_idle_index_path(@reason_for_idle_time),:class=>"btn btn-success"%></tr></td>
</table>
</td>
</tr>
<%end%>
</table>
<h4 align = "right"> <%= link_to "Trash",users_trash_admin_path,:class=>"btn btn-success"%></h4>
</div>
